@import "tailwindcss";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
@tailwind utilities;

:root {
    --background: black;
    --foreground: white;
}

body {
    font-family: "monospace", serif;
    background: var(--background);
    color: var(--foreground);
}

